<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
      <div>
        <%= link_to "Change Settings", edit_user_path(current_user) %>
      </div>
    </td>
  </tr>
</table>

